# ignore the IDE and config directories
.idea/
.DS_Store/
.classpath/
.settings/
.project/

#ignore the following project directories
target/
test-output/

# files from other dir
../../../Python/
../../../playwright/

# ignore the following files
.gitignore.save
