# ignore the IDE and config directories
.idea/
.DS_Store
.classpath/
.settings/
.project/
__MACOSX/
*.iml

#ignore the following project directories
/target/
/test-output/

# ignore config.properties file
src/test/resources/config.properties

# files from other dir
../../../Python/
../../../playwright/